* {
    margin: 0;
    font-family: arial;
    border: border-box;

}
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
/** box1 **/
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
/** box2 **/
.add-1 {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;

}
.add-2 {
    color: #ffffff;
    font-size: 0.875rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 600px;
    height: 40px;
    border-radius: 3px;
    
}
.search-select {
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0F1111;
}
/**box 4 **/
span {
    font-size: 0.875rem;
}
nav-second {
    font-size: 0.9375rem;

}
